.cover {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-top: 92px;
  gap: 32px;
  position: relative;
}

.cover__image {
  width: 1184px;
  height: 740px;
  object-fit: cover;
}

.cover__image:hover {
  opacity: 0.8;
}

.cover__content {
  position: absolute;
}

.cover__title {
  font-size: 72px;
  font-weight: 900;
  line-height: 76px; /* 105.556% */
  margin-bottom: 32px;
}

.cover__info {
  margin-bottom: 32px;
}

.cover__subtitle {
  font-size: 18px;
  font-weight: 400;
  line-height: 22px; /* 122.222% */
}

.cover__button {
  border-radius: 4px;
  background: #0278fe;
  color: #fff;
  width: 198px;
  height: 48px;
  cursor: pointer;
}

.cover__button:hover {
  background: #0063d2;
}
