.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 34px;
  margin: 0 auto;
  min-width: 77%;
}

.header__logo {
  max-width: 270px;
  max-height: 70px;
  flex-shrink: 0;
  margin: auto;
}

.header__title {
  text-align: center;
  font-size: 96px;
  font-weight: 900;
  line-height: 100px; /* 104.167% */
  margin: 90px 0 32px;
  width: 793px;
  height: 200px;
}

.header__subtitle {
  text-align: center;
  font-size: 30px;
  font-weight: 400;
  line-height: 36px; /* 120% */
  margin-bottom: 64px;
  max-width: 100%;
}

.header__image {
  max-width: 100%;
  object-fit: cover;
  -webkit-filter: grayscale(100%);
  -moz-filter: grayscale(100%);
  -ms-filter: grayscale(100%);
  -o-filter: grayscale(100%);
  filter: grayscale(100%);
}

@media screen and (min-width: 320px) and (max-width: 767px) {
  .header {
    padding-top: 20px;
  }
  .header__logo {
    max-width: 200px;
    max-height: 51.852px;
  }
  .header__title {
    margin: 50.15px 0 60px;
    font-size: 40px;
    line-height: 44px;
    width: 288px;
    height: 88px;
  }
  .header__subtitle {
    font-size: 16px;
    line-height: 20px;
    margin-bottom: 40px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1279px) {
  .header {
    max-width: 720px;
  }
  .header__title {
    margin: 90px 0 99px;
  }
  .header__subtitle {
    margin-bottom: 69px;
  }
  .header__image {
    max-width: 768px;
  }
}
