.intro {
  max-width: 1017px;
  margin: auto;
}

.intro__title {
  font-size: 54px;
  font-weight: 900;
  line-height: 58px; /* 107.407% */
  margin: 92px 0 40px;
}

.intro__text {
  position: relative;
  max-width: 722px;
  margin: 0;
  font-size: 24px;
  font-weight: 400;
  line-height: 34px; /* 141.667% */
}

.intro__text-author {
  display: inline-block;
  width: 100%;
  text-align: right;
}

.intro__description {
  max-width: 720px;
  font-size: 16px;
  line-height: 26.08px; /* 163% */
  margin: 32px 0 92px;
}

@media screen and (min-width: 320px) and (max-width: 767px) {
  .intro {
    max-width: 288px;
  }
  .intro__title {
    margin: 44px 0 9px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1279px) {
  .intro {
    max-width: 720px;
  }
  .intro__title {
    margin: 55px 0 15px;
  }
}
