h1,
h2,
h3,
p {
  margin: 0;
}

html {
  background-color: #2a2c2f;
}

.page {
  background-color: #2a2c2f;
  color: #fff;
  font-family: "Inter", Arial, sans-serif;
  margin: auto;
  overflow: hidden;
  text-rendering: optimizeLegibility;
}
