.places {
  margin-top: 92px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.place {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-areas:
    "title artist"
    "image description"
    "link description";
  column-gap: 40px;
  margin-top: 80px;
  max-width: 987px;
}

.place:first-child {
  margin: 0;
}

.place__title {
  grid-area: title;
  width: auto;
  font-size: 72px;
  font-weight: 900;
  line-height: 76px; /* 105.556% */
}

.place__info {
  align-self: flex-end;
}

.place__heading-info {
  color: #aaa;
  font-size: 12px;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 1.44px;
  text-transform: uppercase;
}

.place__artist-info {
  grid-area: artist;
  font-size: 18px;
  font-weight: 400;
  line-height: 22px;
}

.place__image-container {
  max-width: 460px;
  max-height: 460px;
  margin: 48px 0;
}

.place__image {
  width: 460px;
}

.place__paragraph-container {
  grid-area: description;
}

.place__paragraph {
  font-size: 18px;
  font-weight: 400;
  line-height: 29.34px; /* 163%*/
}

.place__paragraph-first {
  margin: 48px 0 25px;
}

.place__link {
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
  grid-area: link;
  border-radius: 4px;
  background: #0278fe;
  color: #fff;
  font-size: 18px;
  font-weight: 600;
  height: 48px;
  cursor: pointer;
  text-decoration: none;
  width: 355px;
}

.place__link:hover {
  background-color: #0063d2;
}

@media screen and (min-width: 320px) and (max-width: 767px) {
  .places {
    margin-top: 62px;
  }
  .place {
    display: flex;
    flex-direction: column;
    margin: 0;
    max-width: 320px;
  }
  .place__title {
    margin: 0 16px 30px;
    font-size: 32px;
    line-height: 35px;
  }
  .place__image-container {
    margin: 30px 0 0;
  }
  .place__image {
    width: 320px;
  }
  .place__paragraph-first {
    margin: 0 16px 0;
  }
  .place__info {
    margin: 0 16px 0;
    align-self: flex-start;
  }
  .place__info-url-heading {
    margin: 0 0 8px;
  }
  .place__paragraph {
    margin: 7px 16px 0;
    font-size: 16px;
    line-height: 26.08px;
  }
  .place__link {
    font-size: 14px;
    max-width: 288px;
    margin: 20px 0 40px;
    align-self: center;
  }
}

@media screen and (min-width: 768px) and (max-width: 1279px) {
  .places {
    margin-top: 88px;
  }
  .place {
    column-gap: 28px;
    margin: 0 24px 31px;
  }
  .place:first-child {
    margin: 0 24px 31px;
  }
  .place__title {
    font-size: 42px;
    line-height: 46px; /* 109.524% */
    max-width: 330px;
  }
  .place__image-container {
    max-width: 340px;
  }
  .place__info-artist {
    font-size: 16px;
    line-height: 26.08px; /* 163% */
  }
  .place__paragraph-first {
    margin: 24px 0 14px;
  }
  .place__image {
    width: 340px;
  }
  .place__link {
    margin: 0;
  }
}
