.places {
  margin-top: 92px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.place-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-areas:
    "title artist"
    "image description"
    "link description";
  column-gap: 40px;
  max-width: 984px;
  margin-top: 80px;
}

.place-grid:first-child {
  margin: 0;
}

.place__title {
  grid-area: title;
  width: auto;
  font-size: 72px;
  font-weight: 900;
  line-height: 76px; /* 105.556% */
}

.place__info {
  align-self: flex-end;
}

.place__url-heading {
  color: #aaa;
  font-size: 12px;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 1.44px;
  text-transform: uppercase;
}

.place__artist {
  grid-area: artist;
  font-size: 18px;
  font-weight: 400;
  line-height: 1.22; /* 122.222% */
}

.place__image-container {
  max-width: 460px;
  max-height: 460px;
  margin: 48px 0;
}

.place__image {
  width: 100%;
}

.place__paragraph {
  grid-area: description;
  font-size: 18px;
  font-weight: 400;
  line-height: 29.34px; /* 163%*/
}

.place__paragraph-first {
  margin: 48px 0 25px;
}

.place__link {
  grid-area: link;
  border-radius: 4px;
  background: #0278fe;
  color: #fff;
  font-size: 18px;
  font-weight: 600;
  padding: 13px 20px;
  cursor: pointer;
  text-decoration: none;
  max-width: 315px;
}

.place__link:hover {
  background-color: #0063d2;
}

@media screen and (min-width: 768px) and (max-width: 1279px) {
  .places {
    margin-top: 88px;
  }
  .place-grid {
    column-gap: 28px;
    row-gap: 46px;
    margin: 0 24px 0;
  }
  .place-grid:first-child {
    margin: 0 24px 0;
  }
  .place__title {
    font-size: 42px;
    line-height: 46px; /* 109.524% */
  }
  .place__image-container {
    max-width: 340px;
    max-height: 340px;
  }
  .place__artist {
    font-size: 16px;
    line-height: 26.08px; /* 163% */
  }
  .place__paragraph-first {
    margin: 24px 0 14px;
  }
}
